* {
  margin: 0;
  border: 0;
  padding: 0;
}

#root {
  display: flex;
  
}

.sideClass {
  display: flex;
  flex-direction: column;
  position: static;
  height: 100%;
  border: solid cyan;
  background-color: rgb(200, 200, 200);
  text-align: center;
  padding: 3%;
}

.linkClass {
  text-decoration: none;
}

.mapClass {
  text-align: center;
}