* {
  margin: 0;
  border: 0;
  padding: 0;
}

#root {
  display: flex;
}

.sideClass {
  text-align: center;
  padding: 2%;
  display: flex;
  flex-direction: column;
  width: 10%;
}

.linkClass {
  text-decoration: none;
}
