body {
  display: flex;
  justify-content: space-around;
}

.L_section {
  border: solid red 3px;
  width: 20%;
}

#main {
  border: solid red 3px;
  width: 60%;
}

.R_section {
  border: solid red 3px;
  width: 20%;
}